body {
	background-color:white;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
table {
    border-collapse: collapse;
}

table {
  margin-left:50px; text-align:center; border-collapse:collapse;
  position: absolute;}
td, th {padding:5px; }
th {color:white; background-color:blue; font-family:Arial,sans-serif;}
tr:nth-child(even) {background: #CCC}
.tableheader{

}
.test{
		font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    height: 75%;
    text-align: center;
    font-size: 4vh;
    z-index: 10;

    position: absolute;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    left: 30%;
    right: 35%;
    display: none;
    overflow-y: scroll;


}
